* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

:root {
  --borderColor: rgba(242, 242, 242, 1)
}

.container {
  width: 52%;
  margin: auto;
  min-height: 89vh;
  max-height: fit-content;
}

.markdown {
  white-space: break-spaces;
  font-size: 17.75px;
  line-height: 36px;
  font-family: 'Roboto Slab', serif;
  color: rgb(80 80 80) !important;
}

.markdown img {
  margin: 24px 0px;
  width: 100%;
}

.markdown>h1,
h2,
h3,
h4 {
  margin: 15px 0;
  font-family: 'Poppins';
  color: black;
  font-weight: bold;
}

.markdown>h5,
h6 {
  margin: 8px 0;
  color: black;
  font-family: 'Poppins';
}

.markdown li {
  margin-left: 25px;
}

.markdown>br {
  margin-top: -66px;
  margin-bottom: -18px;
}

.code {
  font-size: 16px !important;
}


.hide_scroll::-webkit-scrollbar {
  display: none;
}

.hide_scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container_70 {
  width: 60%;
  margin: auto;
}